@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

.city__case {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    background-color: #EEEEEE;

    h2 {
        margin: 8rem 0 4rem 0;
        font-size: 48px;
        font-family: 'Crimson Text', serif;
    }

    p {
        font-size: 16px;
        font-family: 'Solway', serif;
        color: #171615;

        span {
            color: red;
            font-size: 17px;
        }
    }
}

.city__animation {
    width: 80%;
    margin-bottom: 1.6rem;
}

.line__animation {
    width: 100%;
    margin: 2.7rem 0 2.2rem 0;
}

.city__image__case {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem 0;
    // background-color: purple;
}

.city__first__case {
    display: flex;
    flex-direction: column;
    
    h3 {
        margin: 1rem 0 1rem 0 ;
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
    }
}


.city__image {
    height: 9.5rem;
    width: 16rem;
    margin-top: 2.5rem;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.140);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;

    &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.4);
    }
}

.city__first {
    background-image: url('../images/site1.jpeg');
}

.city__second {
    background-image: url('../images/site2.jpeg');
    margin-bottom: 2rem;
}

.city__third {
    background-image: url('../images/site3.jpeg');
    margin-bottom: 2rem;
}

.city__fourth {
    background-image: url('../images/site4.jpeg');
    margin-bottom: 0.5rem;
}