@import url('https://fonts.googleapis.com/css?family=Arvo:700');

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: -2px;
    z-index: 100;
    // background-color: #181818;
    background-color: #171615;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.040);

    h2 {
        font-size: 2.5rem;

            color: #fff;
            font-family: Arvo;
            font-weight: bold;
            text-shadow:
              -3px -3px 0 #222,
              3px -3px 0 #222,
              -3px 3px 0 #222,
              3px 3px 0 #222,
              4px 4px 0 #fff,
              5px 5px 0 #fff,
              6px 6px 0 #fff,
              7px 7px 0 #fff;
            line-height: 2em;
            letter-spacing: 0.12em;
            transform: scaleY(0.7);
            -webkit-transform: scaleY(0.7);
            -moz-transform: scaleY(0.7);
            margin:0;
            text-align: center;

    }
}